---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle: string = 'Bienvenue sur mon site de formation digitale !';

// Définir une interface pour `identity`
interface Identity {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

// Utiliser l'interface pour typer la constante `identity`
const identity: Identity = {
  firstName: 'Jean',
  country: 'France',
  occupation: 'Freelance',
  hobbies: ['Cinéma', 'Voyages', 'Jeux vidéo'],
};

// Définir un type pour les compétences si vous souhaitez être spécifique
// Ceci est optionnel et surtout utile si vous avez un ensemble limité de compétences valides
type Skill = 'HTML' | 'CSS' | 'JavaScript' | 'React' | 'Astro';

// Utiliser le type `Skill[]` pour un tableau de compétences spécifiques, ou simplement `string[]` pour un tableau de chaînes générique
const skills: Skill[] = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];
---

<BaseLayout pageTitle={pageTitle}>
  <section id='about'>
    <p>
      Je suis <strong>Jean Nguyen</strong>, formateur dans le domaine du digital
      depuis 2019. Avec plusieurs années d'expérience à mon actif, je me
      consacre à transmettre mes connaissances et compétences de manière
      accessible et pratique.
    </p>

    <h2>Mon approche pédagogique</h2>
    <p>
      Ma méthode d'enseignement est principalement axée sur la pratique. Je
      crois fermement que l'apprentissage par l'action est la clé pour assimiler
      durablement les compétences digitales. C'est pourquoi, dans mes cours, la
      théorie est toujours accompagnée d'exercices pratiques et d'études de cas
      concrets.
    </p>

    <h2>Un enseignement adapté à tous</h2>
    <p>
      Je comprends que chaque apprenant est unique. C'est pourquoi j'adapte
      constamment mon discours et mes méthodes en fonction de mon public. Que
      vous soyez débutant, intermédiaire ou avancé, je m'assure que chaque
      concept soit clairement compris avant de passer à la prochaine étape. Mon
      objectif est de garantir que les notions sont bien acquises pour vous
      permettre d'avancer avec confiance.
    </p>

    <h2>Mon engagement</h2>
    <p>
      En tant que formateur, mon engagement est de vous offrir une formation de
      qualité qui répond à vos attentes et à vos besoins. Je suis disponible
      pour répondre à vos questions et pour vous accompagner tout au long de
      votre parcours d'apprentissage.
    </p>
    <p>
      Merci de me faire confiance pour vos formations digitales. Ensemble, nous
      allons atteindre vos objectifs et développer vos compétences dans le
      digital.
    </p>

    <p>
      N'hésitez pas à parcourir les cours disponibles et à me contacter pour
      toute question ou besoin spécifique. Je suis là pour vous aider à réussir
      !
    </p>
  </section>

  <p>Voici quelques faits me concernant :</p>
  <ul>
    <li>Je m'appelle {identity.firstName}.</li>
    <li>
      Je vis au {identity.country} et je travaille en tant que {
        identity.occupation
      }.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Deux de mes loisirs sont : {identity.hobbies[0]} et{' '}
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Voici mes compétences :</p>
  <ul>
    {skills.map(skill => <li>{skill}</li>)}
  </ul>
</BaseLayout>
